<html>

    <div *ngIf="!editUser" class="row container-fluid" id="show/hide">

        <body>

            <h2> User Profile </h2>

            <img src="assets/profilepic.jpg" alt="profile picture" width="100" height="100">

            <p>Username: {{currentUser.username}}</p>
            <p>Firstname: {{currentUser.firstName}}</p>
            <p>Lastname: {{currentUser.lastName}}</p>
            <p>Bio: <br>{{currentUser.bio}}</p>

            <div *ngIf ="activeUser" class="center-button">
                <button type="button" class="edit-button" (click)="editMode()"> Edit </button>
            </div>

        </body>
    </div>

    <div *ngIf="editUser" class="row container-fluid" id="show/hide">

        <body>

            <h2> User Profile </h2>

            <img src="assets/profilepic.jpg" alt="profile picture" width="100" height="100">
            
            <p>Username: <input id ="username" #username type = "text" value={{currentUser.username}}></p>
            <p>Firstname: <input id = "firstName" #firstName type = "text" value={{currentUser.firstName}}></p>
            <p>Lastname: <input id = "lastName" #lastName type = "text" value={{currentUser.lastName}}></p>
            <p>Bio: <br><textarea id = "bio" #bio value = {{currentUser.bio}}></textarea></p>
            
            <div class="center-button">

                <button style="margin-right: 5px;" (click)="save(username.value, firstName.value, lastName.value, bio.value)"> Save </button>
                <button (click)="cancel()"> Cancel </button>

            </div>

        </body>

    </div>

</html>