<html>
    <body>
        <h3> User Profile </h3>
        <p>Username: {{username}}</p>
        <p>Firstname: {{firstName}}</p>
        <p>Lastname: {{lastName}}</p>
        <p>Bio: <br>
            {{desc}}</p>

        <div class="center-button">
            <button onclick="editMode()">Edit</button>
        </div>
    </body>

    <body>
        <h3> User Profile </h3>
        <p>Username: <input type = "text"></p>
        <p>Firstname: <input type = "text"></p>
        <p>Lastname: <input type = "text"></p>
        <p>Bio: <br><textarea></textarea></p>
        
        <div class="center-button">
            <button onclick="save()">Save</button>
            <button onclick="cancel()">Cancel</button>
        </div>
    </body>
</html>