<div class="post">
  <span [style]="{'font-size':'20px'}">{{post.username}}</span>
  <span> posted:</span>
  <span [style]="{'font-size':'12px', 'float': 'right'}">{{post.date}}</span>
  <div class="postContent">{{post.content}}</div>
  <div [style]="{'margin-bottom': '5px'}">{{post.likes}} likes - {{post.comments}} comments</div>
  <div [style]="{'margin-left': '25px', 'margin-top':'20px'}" *ngIf="post.comments > 0">
    <span>{{comments[0].username}}</span>
    <span [style]="{'font-size':'12px'}"> commented:</span>
    <span [style]="{'font-size':'12px', 'float': 'right'}">{{comments[0].date}}</span>
    <div class="commentContent">{{comments[0].content}}</div>
  </div>
  <button *ngIf="post.comments > 1 && !post.clicked" (click)="clickMoreComments()">Read comments</button>
  <div *ngIf="post.clicked">
    <div [style]="{'margin-left': '25px', 'margin-top':'20px'}" *ngFor="let comment of postComments">
      <span>{{comment.username}}</span>
      <span [style]="{'font-size':'12px'}"> commented:</span>
      <span [style]="{'font-size':'12px', 'float': 'right'}">{{comment.date}}</span>
      <div class="commentContent">{{comment.content}}</div>
    </div>
  </div>
</div>