<h4>Login:)</h4>
<div class="form-group">
    <label for="username">username:</label>
    <input type="text" class="form-control" id="username" required
    [(ngModel)]="username" name="username" #name="ngModel">
    <!--<div [hidden]="username.valid || username.pristine" class="alert alert-danger">
        Username is required!
    -->
</div>
<div class="form-group">
    <label for="password">password:</label>
    <input type="text" class="form-control" id="password" required
    [(ngModel)]="password" name="password">
</div>
<div class="output-name">{{username}} and {{password}} were inputs</div>
<div class="check-validity" *ngIf="strFormOutput">{{strFormOutput}}</div>

<button type="submit" class="submit-userpassword" (click)="onSubmit(); resetUserPassword()">Login</button>

<div class="register">
    Don't have an account?
    <nav>
    <a routerLink="/register">
        <button type="button">register</button>
    </a>
    </nav>
  </div>
  <div class="register">
    Don't have an account?
    <nav>
    <a routerLink="/register">
        register
    </a>
    </nav>
  </div>
<!--
<ul>
    {{users.size}}
<li *ngFor="let userM of users.keys()">
    <div *ngIf="users.get(userM)">
    {{userM}}->{{users.get(userM)}}
    </div>
</li>
</ul>
-->